
Library/

Temp/

Logs/

obj/

*.csproj

*.sln

.vs/

Assets/ShaderForge/

Assets/StreamingAssets/android/
Assets/StreamingAssets/ios/

Assets/StreamingAssets/android.meta
Assets/StreamingAssets/ios.meta

RemoteHotData/

OutPackage/

UploadData/

.svn/

/Packages/Android/

/Packages/IOS/


/.vsconfig




link.xml
link.xml.meta
/Assets/ProjectRes/DLL/Unity.Hotfixdll.bytes
/Assets/ProjectRes/DLL/Unity.Hotfixdll.bytes.meta
/Assets/ProjectRes/DLL/Unity.Hotfixpdb.bytes
/Assets/ProjectRes/DLL/Unity.Hotfixpdb.bytes.meta
/Assets/Scripts/DevelopTools/God'sHands/GMConfig.json
/Assets/Scripts/DevelopTools/God'sHands/GMConfig.json.meta
/.idea
